@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.link {
    text-decoration: none;
    color: white ;
}

.favorite{
  color:red;
}

.dont_like_yet{
  color:blue;
}